@page "/"

@* <h1>Hello, world!</h1>

Welcome to your new app. *@

<div class="search-bar input-group ">
  <input type="text" class="form-control" placeholder="Enter search keyword" >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" >Search</button>
  </div>
</div>

@code{

}
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
