@using ElectronNET.API;
@using ElectronNET.API.Entities;
@using System.IO

<button type="button" class="add-dir-btn btn btn-primary d-flex flex-row align-items-center" @onclick="Open">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
        <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
    </svg>
    <span style="margin-left: 5px;">Add Folder</span>
</button>

<div class="folder-list">

    <div class="folder-list-wrapper">
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
            Tooltip on right
        </button>
        @foreach (var folderName in FolderNames)
        {
            <div class="folder-list-item">
                @* <input type="checkbox" name="selected" id=""> *@
                <div onmouseover="showToolTip()" id="folder-name" data-toggle="tooltip" title="aaa" data-placement="top">@folderName</div>
                @* @Path.GetDirectoryName(folderName) *@
            </div>

        }
    </div>
</div>

@code {

    public IList<string> FolderNames = new List<string>();

    public void Open()
    {
    // FolderNames.Add("a");

        var dialogResult = new string[] {};
        try
        {
            dialogResult = Electron.Dialog.ShowOpenDialogAsync(Electron.WindowManager.BrowserWindows.First(), new OpenDialogOptions() {Properties = new[] {OpenDialogProperty.openDirectory}}).Result;
            if (dialogResult.Any())
            {
                Console.WriteLine(dialogResult.First());
                FolderNames.Add(dialogResult.First());
            }
        }
        catch (Exception e)
        {
            FolderNames.Add("folder1");
            Console.WriteLine(e);
        }
    }

    public void ShowToolTip()
    {
        Console.WriteLine();
    }

}


